<div class="marvel">
  <h1>Heros</h1><h2>Villans</h2>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Where do the values come from?</h3>
    <br />
    <p>Values are based off of recent sales.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>What are grades?</h3>
    <br />
    <p>The grading scale is based on condtion and given a value of 1-10.</p>
  </div>
</div>